<header class="masthead">
<div class="container">
  <h2 *ngIf="tipoUsuario() != 2"style="text-shadow: 2px 0 #000; color:gold">Lista de vehiculos para alquilar</h2>
  <h2 *ngIf="tipoUsuario() == 2" style="text-shadow: 2px 0 #000; color:gold">Lista de vehiculos</h2>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Imagen</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>Precio</th>
        <th>Seleccion</th>
      </tr>
    </thead>
    <tbody class="table-dark align-middle">
      <tr *ngFor="let vehiculo of vehiculos">
        <td><img src="{{vehiculo.imagen}}" width="100" height="100"></td>
        <td>{{ vehiculo.marca }}</td>
        <td>{{ vehiculo.modelo }}</td>
        <td>{{ vehiculo.anio }}</td>
        <td>${{ vehiculo.precioalquiler }}</td>
        <td *ngIf="tipoUsuario() != 2"><button class="btn btn-success" (click)="SeleccionarVehiculo(vehiculo)">Seleccionar</button></td>
        <td *ngIf="tipoUsuario() == 2"><button class="btn btn-success" (click)="ModificarVehiculo(vehiculo)">Seleccionar</button></td>
      </tr>
    </tbody>
  </table>
</div>
</header>
