<header class="masthead">
<div class="col-md-6 offset-md-3">
  <h1 style="text-shadow: 2px 0 #000; color:gold">Rentals Venado</h1>
  <h3 class="text-center" style="color: gold; text-shadow: 2px 0 #000;">Registro de alquiler</h3>
  <form (ngSubmit)= "onSubmit()" #alquilerForm = "ngForm">
    <div class="row" style="text-shadow: 2px 0 #000; color: gold">
      <div class="col">
        <div class="form-group">
          <label>Nombre: </label>
          <input type="text"
          class="form-control"
          id="nombre"
          [(ngModel)] = "alquiler.nombre"
          name="nombre"
          required
          minlength="4"
          maxlength="20"
          placeholder="Ingresa tu nombre"
          #nombre = "ngModel"
          >
          <div class="text text-danger" *ngIf= "nombre.invalid && (nombre.dirty || nombre.touched)" >
            <div *ngIf= "nombre.hasError('required') ||
             nombre.hasError('minlength') || nombre.hasError('maxlength')">
              Ingrese un nombre valido
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label>Apellido: </label>
          <input type="text"
          class="form-control"
          id="apellido"
          [(ngModel)] = "alquiler.apellido"
          name="apellido"
          required
          minlength="2"
          maxlength="20"
          placeholder="Ingresa tu apellido"
          #apellido = "ngModel"
          >
          <div class="text text-danger" *ngIf= "apellido.invalid && (apellido.dirty || apellido.touched)" >
            <div *ngIf= "apellido.hasError('required') ||
             apellido.hasError('minlength') || apellido.hasError('maxlength')">
              Ingrese un apellido valido
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label>DNI: </label>
          <input type="text"
          placeholder="Ingresa tu dni"
          required
          class="form-control"
          id="dni"
          [(ngModel)] = "alquiler.DNI"
          name="dni"
          required
          minlength="8"
          maxlength="20"
          #dni = "ngModel">
          <div class="text text-danger" *ngIf= "dni.invalid && (dni.dirty || dni.touched)" >
            <div *ngIf= "dni.hasError('required') ||
             dni.hasError('minlength') || dni.hasError('maxlength')">
              Ingrese un documento de identidad valido
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label>Cuit/Cuil: </label>
          <input type="text"
          placeholder="Ingresa tu cuit/cuil"
          class="form-control"
          id="cuit"
          [(ngModel)] = "alquiler.cuit"
          name="cuit"
          required
          minlength="8"
          maxlength="20"
          #cuit = "ngModel">
          <div class="text text-danger" *ngIf= "cuit.invalid && (cuit.dirty || cuit.touched)" >
            <div *ngIf= "cuit.hasError('required') ||
             cuit.hasError('minlength') || cuit.hasError('maxlength')">
              Ingrese un numero de cuit/cuil valido valido
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label>Fecha de Nacimiento: </label>
          <input type="date"
          class="form-control"
          value="2000-01-01"
          min="1960-01-01"
          max="2004-06-30"
          id="fecha"
          name="fecha"
          required>
        </div>
        <br>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Celular: </label>
          <input type="text"
          placeholder="Ingresa tu celular con codigo de area"
          class="form-control"
          id="celular"
          [(ngModel)] = "alquiler.celular"
          name="celular"
          required
          minlength="8"
          maxlength="20"
          #celular = "ngModel">
          <div class="text text-danger" *ngIf= "celular.invalid && (celular.dirty || celular.touched)" >
            <div *ngIf= "celular.hasError('required') ||
             celular.hasError('minlength') || celular.hasError('maxlength')">
              Ingrese un numero de celular valido
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label>Direccion: </label>
          <input type="text"
          placeholder="Ingresa tu direccion"
          class="form-control"
          id="direccion"
          [(ngModel)] = "alquiler.direccion"
          name="direccion"
          required
          minlength="8"
          maxlength="50"
          #direccion = "ngModel">
          <div class="text text-danger" *ngIf= "direccion.invalid && (direccion.dirty || direccion.touched)" >
            <div *ngIf= "direccion.hasError('required') ||
             direccion.hasError('minlength') || direccion.hasError('maxlength')">
              Ingrese una direccion valida
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label>Correo Electrónico: </label>
          <input type="email"
          placeholder="Ingresa tu email"
          class="form-control"
          id="email"
          [(ngModel)] = "alquiler.email"
          name="email"
          pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
          required
          minlength="8"
          maxlength="50"
          #email = "ngModel">
          <div class="text text-danger"  *ngIf= "email.invalid && (email.dirty || email.touched)" >
            <div *ngIf= "email.hasError('required') ||
             email.hasError('minlength') || email.hasError('maxlength') || email.hasError('pattern')">
              Ingrese un correo electronico valido (user@gmail.com)
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label>Nacionalidad: </label>
          <input type="text"
          placeholder="Ingresa tu nacionalidad"
          class="form-control"
          id="nacionalidad"
          [(ngModel)] = "alquiler.nacionalidad"
          name="nacionalidad"
          required
          minlength="4"
          maxlength="50"
          #nacionalidad = "ngModel">
          <div class="text text-danger" *ngIf= "nacionalidad.invalid && (nacionalidad.dirty || nacionalidad.touched)" >
            <div *ngIf= "nacionalidad.hasError('required') ||
             nacionalidad.hasError('minlength') || nacionalidad.hasError('maxlength')">
              Ingrese una nacionalidad valida
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label>Fecha de Retiro: </label>
          <input type="date"
          class="form-control"
          value="2022-01-01"
          min="2022-01-01"
          max="2023-12-31"
          id="fecha"
          name="fecha"
          required>
        </div>
      </div>
    </div>
    <h3 class="text-center" style="text-shadow: 2px 0 #000; color: gold">Vehiculo Seleccionado</h3>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label><img src="{{vehiculos.imagen}}" width="100" height="100"> {{vehiculos.marca}} {{vehiculos.modelo}}</label>
        </div>
        <br>
      </div>
    </div>
    <button class="btn btn-success"
    style="float: right;" [disabled]= "!alquilerForm.form.valid">
    Confirmar Alquiler</button>
  </form>
</div>
</header>
